<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>354468388824-nakni9hic4c9c1a3n4m0kk6dps4j3n78.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.354468388824-nakni9hic4c9c1a3n4m0kk6dps4j3n78</string>
	<key>API_KEY</key>
	<string>AIzaSyDVpKvSmfM9lQI9Rq3_dDFc7QNqteoMprc</string>
	<key>GCM_SENDER_ID</key>
	<string>354468388824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.liveasyTask</string>
	<key>PROJECT_ID</key>
	<string>liveasy-4ded4</string>
	<key>STORAGE_BUCKET</key>
	<string>liveasy-4ded4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:354468388824:ios:788614a39f523fac455cad</string>
</dict>
</plist>